html {
  background-image: url("https://c3.staticflickr.com/6/5344/31057881962_20295f70c5_c.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 8em;
  font-weight: bold;
  text-shadow: 0.1em 0.1em red, -0.1em -0.1em red;
}

form {
 margin: 1em;
}

li a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.tab-pane {
  min-height: 33em;
  padding: 1em;
  background-color: white;
}

#main-display {
  margin-top: 5em;
}
