body {
  background-image: url("https://c3.staticflickr.com/6/5344/31057881962_20295f70c5_c.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  margin: 0; 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 6em;
  font-weight: bold;
  text-shadow: 0.07em 0.07em red, -0.07em -0.07em red;
}

form {
 margin: 1em;
}

li a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.tab-content {
   opacity: 0.75;
}

.tab-pane {
  min-height: 33em;
  padding: 1em;
  background-color: white;
}

.tab-content h3 {
  opacity: 1.25;
}

.tab-content h3 {
  opacity: 1.25;
}

#main-display {
  margin: 1.25em;
}
