body {
  background-color: orange;
}



h1 {
  color: #eaf2ff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 0.05em 0.05em black;
}





#main-display {
  margin-top: 3em;
}


